@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ECECEC;
}

.top-bar {
  height: 50px;
  width: 100%;
  background-color: #243763;
}

.bg-nav {
    background-color: #F7F5EB !important;
}

.bg-footer {
    background-color: #243763 !important;
}

/* NAVBAR */
.navbar-brand img {
    width: 110px;
}

a.nav-link {
    color: #000000 !important;
    font-weight: 600;
}

a.nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFC93C;
}
/* ENDNAVBAR */

/* CONTENT */
.beranda-slider {
  position: relative;
  height: 90vh;
  margin-bottom: 500px;
}
.title-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #FFFFFF;
  margin-top: 20vh;
}
.beranda-slider .slide {
  position: absolute;
  width: 100%;
}
.beranda-slider img {
  height: 90vh;
  object-fit: cover;
}
.beranda-slider .btn {
  background-color: #FFC93C;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 15px;
  padding: 16px 30px;
  border: none;
}
.beranda-slider .btn:hover {
  cursor: pointer;
  background-color: #fbba17;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 15px;
  padding: 16px 30px;
  border: none;
}

.title-container-description {
  position: absolute;
  width: 80%;
  bottom: -400px;
  background-color: #FFC93C;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-container-description p {
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 2;
}

.layanan {
  background-color: #FFC93C !important;
}

p.layanan-title {
  font-weight: 600;
  color: #FFFFFF;
}

h3.layanan-title {
  font-weight: 600;
}

p.layanan-deskripsi {
  font-weight: 400;
}

.layanan-card {
  min-height: 220px;  
  align-items: center;
}


p.portofolio-deskripsi {
  font-size: 18px;
}
h3.portofolio-title {
  font-size: 36px;
}

a.blog-learn-more {
  color: #FFC93C;
  font-weight: 400;
  text-decoration: none;
}

.deskripsi-kami {
  line-height: 2.5;
  text-align: justify;
}

.team-card {
  position: relative;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
}

img.team-img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.team-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 87px;
  background-color: #FFC93C;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.maps-title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  background-color: #FFC93C;
  color: #FFFFFF;
  padding: 20px;
}

.contact-title {
  font-weight: 600;
  font-size: 24px;
  color: #FFC93C;
}
.contact-card {
  background-color: #D9D9D9;
  border-radius: 15px;
  color: #FFFFFF;
  padding: 20px;
}
.contact-input {
  height: 64px;
  cursor: text;
}
.contact-btn {
  background-color: #FFC93C;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 15px;
  padding: 16px 20px;
  border: none;
}
.contact-btn:hover {
  cursor: pointer;
  background-color: #fbba17;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 15px;
  padding: 16px 20px;
  border: none;
}
.contact-btn:focus {
  background-color: #f9b00f;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 15px;
  padding: 16px 20px;
  border: none;
}
.contact-btn:active {
  background-color: #f9b00f;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 15px;
  padding: 16px 20px;
  border: none;
}
/* ENDCONTENT */

/* FOOTER */
footer {
    color: #FFFFFF;
    font-weight: 600;
}

footer h3 {
  font-weight: 600;
}
/* ENDFOOTER */

/* get content when mobile */
@media (max-width: 768px) {
  .title-container-description {
    display: none;
  }

  .beranda-slider {
    margin-bottom: 0;
  }
}